package middleware

import (
	"time"

	"github.com/gofiber/fiber/v2"

	"{{.Module}}/pkg/logger"
)

// Logger returns a Fiber middleware that logs each incoming request.
func Logger(log logger.Logger) fiber.Handler {
	return func(c *fiber.Ctx) error {
		start := time.Now()
		err := c.Next()
		log.Info("request",
			"method", c.Method(),
			"path", c.Path(),
			"status", c.Response().StatusCode(),
			"duration", time.Since(start).String(),
			"ip", c.IP(),
		)
		return err
	}
}
