# Server
SERVER_PORT=8080
VERSION=v0.1.0

# Log
LOG_LEVEL=info
{{- if or (eq .DB "postgres-gorm") (eq .DB "postgres-sqlc") (eq .DB "postgres-raw")}}

# Database (required)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME={{.Name}}
DB_SSL_MODE=disable
{{- end}}
{{- if or (eq .DB "sqlite-gorm") (eq .DB "sqlite-raw")}}

# Database
DB_PATH=./data.db
{{- end}}
