package logger

// Logger is the shared logging interface. All logger implementations
// (slog, zap, zerolog) satisfy this interface.
type Logger interface {
	Info(msg string, args ...any)
	Warn(msg string, args ...any)
	Error(msg string, args ...any)
	Debug(msg string, args ...any)
}
