version: "2"
sql:
  - engine: "postgresql"
    queries: "internal/repo/persistent/queries/"
    schema: "migrations/"
    gen:
      go:
        package: "persistent"
        out: "internal/repo/persistent"
        sql_package: "pgx/v5"
        emit_interface: true
        emit_json_tags: true
